body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 1vw;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 1vw;
}

.content {
  background: #e3f4ff;
  padding: 1vw;
}

.button-container {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 1vw;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 1vw;
  margin: auto;
}